In [ ]:
#SQL

In [1]:
#task1
select * from CITY where ID=1661;

SyntaxError: invalid syntax (<ipython-input-1-e1cf2fe3f579>, line 2)

In [ ]:
#task2
select * from CITY where POPULATION > 100000 and COUNTRYCODE = 'USA';

In [ ]:
#task3
select * from CITY where COUNTRYCODE = 'JPN';

In [ ]:
#task4
seclect NAME from CITY where COUNTRYCODE ='JPN'

In [ ]:
#task5
select CITY,STATE from STATION

In [ ]:
#task6
#6.1
select distinct CITY from STATION where mod(ID,2) = 0;
#6.2
select count(CITY) - count (distinct CITY) from STATION;

In [ ]:
#task7
select * from(select distinct CITY, length(CITY) from STATION order by length(CITY) asc, CITY asc) where rownum = 1
union
select * from(select distinct CITY, length(CITY) from STATION order by length(CITY) desc, CITY desc) where rownum = 1

In [ ]:
#task8
select distinct CITY from STATION where CITY like 'a%' or CITY like 'e%' or CITY like 'i%' or CITY like 'o%' or CITY like 'u%';

In [ ]:
#task9
select distinct CITY from STATION where CITY like 'a%' or CITY like 'e%' or CITY like 'i%' or CITY like 'o%' or CITY like 'u%';

In [ ]:
#task10
select distinct CITY from (select distinct CITY from STATION where CITY like 'a%' or CITY like 'e%' or CITY like 'i%' or CITY like 'o%' or CITY like 'u%')
where CITY like 'a%' or CITY like 'e%' or CITY like 'i%' or CITY like 'o%' or CITY like 'u%';

In [ ]:
#python
#task1

if __name__ == '__main__':
    n = int(input())
    # your code here
    if (n%2==1):
      print('weird')
    elif (n%2==0 and 2<= n <= 5):
      print('not weird')
    elif (n%2 == 0 and 6 <= n <= 20):
      print('weird')
    else:
      print('not weird')

In [ ]:
#task2

if __name__ == '__main__':
    a = int(input())
    b = int(input())
    # your code here
    print(a+b)
    print(a-b)
    print(a*b)

In [ ]:
#task3

if __name__ == '__main__':
    n = int(input())
    # your code here
    for i in range(n):
      if (i<n):
        print(i**2)

In [ ]:
#task4

def is_leap(year):
  pass
  # your code here
  leap=false
  if (year % 400 == 0):
    leap=true
  elif (year % 100 == 0):
    leap=false
  elif (year % 4 == 0):
    leap=true
  return leap
year = input(raw_input())
print(is_leap(year))

In [ ]:
#task5

if __name__ == '__main__':
  n = int(input())
  # your code here
  arr=map(int, input(),split())
  arr = list(set(list(arr)))
  ar=len(arr)
  arr=sorted(arr)
  print(arr[ar-2])